{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="home_header_block">
        <img src="{% static 'img/me.jpg' %}" class="home-photo">
        <h1>Ruslan's portfolio, this is my first site and I really want to share my work with you, cockerels.</h1>
    </div>
    <h1>Portfolios</h1>
    <hr>
    {% for item in project %}
        {% if item.url %}
            <a href="{{ item.url }}">
        {% endif %}
            <h3>{{ item.tittle }}</h3>
            <p>{{ item.description }}</p>
            <img src="{{ item.image.url }}" height="500" width="200">
        {% if item.url %}
            </a>
        {% endif %}
    {% endfor %}


{% endblock %}